<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TheTutor4U - Dashboard</title>
    </head>
    <body>
        <div>Dashboard</div>
        <button id="logout-button">Logout</button>
        <a href="/settings">Settings</a>
        <script src="/js/dashboard.js"></script>
    </body>
</html>
