<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TheTutor4U - Student Dashboard</title>
    </head>
    <body>
        <div>Welcome, <%=dbInfo.first_name%> <%= dbInfo.last_name %></div>
        <button id="logout-button">Logout</button>
        <a href = "/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/tutor">Tutor Dashboard</a>
        <a href="/settings">Settings</a>
        <script src = "/js/logout-button.js"></script>
        <div>Student Dashboard</div>
        <div>Begin an Instant Tutoring Session</div>
        <form method="post" action="/search">
            <input type = "hidden" name = "context" value="student" />
            <div>Language</div>
            <select name="language">
                <option value="demo">Demo</option>
            </select>
            <div>Subject</div>
            <select name="subject">
                <option value="demo">Demo</option>
            </select>
            <button type="submit">Find Tutors</button>
        </form>
    </body>
</html>
