<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TheTutor4U - Tutor Dashboard</title>
    </head>
    <body>
        <div>Welcome, <%=dbInfo.first_name%> <%= dbInfo.last_name %></div>
        <button id="logout-button">Logout</button>
        <a href="/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/student">Student Dashboard</a>
        <a href="/settings">Settings</a>
        <script src="/js/logout-button.js"></script>
        <div>Tutor Dashboard</div>
        <!-- if user is not a tutor, offer them to sign up -->
        <% if (dbInfo.is_tutor === false) { %>
        <div>You are not a tutor, sign up here</div>
        <form method="post" action="/api/register-tutor">
            <button type="submit">Become a tutor (instant accept for now)</button>
        </form>
        <% } else { if (dbTutorInfo.biography === null) {%>
        <div>Important: You have not created a bio yet. Please create a bio on the settings page</div>
        <% } %>
        <div>
            You are a registered tutor, pick subjects to teach and teach now. You will be matched with tutors who speak
            the language(s) that you know. You can change languages you are comfortable with on the settings page
        </div>
        <form method="post" action="/search">
            <input type="hidden" name="context" value="tutor" />
            <div>Subjects</div>
            <!-- TODO make this a checklist form at some point -->
            <select name="subject" mulitple = "true">
                <option value="demo">demo</option>
            </select>
            <button type="submit">Find Students</button>
        </form>
        <% } %>
    </body>
</html>
