/*import Open Sans font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/*put row at the bottom, make it cover the entire width of the page, set its background color to gray, center the logo
and the text both horizontally and vertically*/
#row {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    background-color: #a4a8a8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
