/*import Open Sans font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/*put row at the top of the page, make it span across the width of the whole page, set its background color, make 3 
equal columns using the CSS grid system*/
#top-row {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background-color: #c9c84c;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-family: "Open Sans", sans-serif;
}

#center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-container img {
    width: 7vw;
    height: auto;
}

#right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#right-container img {
    width: 10vw;
    height: auto;
}

#navigation-bar ul {
    padding: 0;
}
/*makes the list draw left to right instead of top to bottom*/
#navigation-bar li {
    float: left;
}
#navigation-bar li:hover a::before {
    right: 0;
    left: 0;
}
#navigation-bar a {
    color: #464444;
    font-size: 1vw;
    text-decoration: none;
    text-align: center;
    padding: 2vh;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#navigation-bar a:hover {
    color: #ae3ce7;
}
#navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #ae3ce7;
}
#navigation-bar a:hover::before {
    right: 0;
    left: 0;
}

.li {
    list-style: none;
}

#sign-in-button {
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    content: none;
}

#sign-in-button::before {
    content: none;
}

#sign-in-button::after {
    content: none;
}
