/*put row at the top of the page, make it span across the width of the whole page, set its background color and center
all elements within the row vertically*/
#top-row {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: #c9c84c;
    display: flex;
    align-items: center;
}
